/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Varela+Round);

.navigation h2 {
  font-family: 'Varela Round';
  color: white;
}

.background {
  background: image-url('hash-money-background.png') no-repeat center center;
  width: 100%;
  height: 700px;
}

.navbar-default {
  padding-top: 50px;
  background-color: transparent;
  border-color: transparent;
}

.navbar-right {
  padding-top: 5px;
  padding-right: 100px;
}

.navbar-default .navbar-brand {
  font-size: 40px;
  color: white;
  font-family: 'Varela Round';
  margin-left: 50px !important;
}

.gs {
  font-size: 20px;
  color: white;
  font-family: 'Varela Round'; 
}

.hiw {
  font-size: 20px;
  color: white;
  font-family: 'Varela Round';
  padding-right: 30px;
}

.si {
  font-size: 20px;
  color: white;
  font-family: 'Varela Round';
  padding-right: 30px;
}

